.headingStyle{

  font-family: 'Courier New', Courier, monospace;
  color: blueviolet;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid  coral;
  vertical-align: text-bottom;
  height: 200px;
  background-color: cornflowerblue;
  align-content: center;
}

.imageStyle{

  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.imageStyle img{

  width: 350px;
  height: 250px;
}
